/* Body */
body {
	background-color: #f6f6f6;
	color: #000;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

/* Id main */
.main {
	line-height: 1.3591;
}

/* Headers */
h1 {
	color: #3e750b;
}
h2 {
	font-size: 1.3em;
}

/* Links */
a {
	text-decoration: none;
}

/* Code, inline and block */
:not(pre) > code {
  background-color: #EEEEE0;
  font-family: monospace;
  color: #800000;
}
pre {
  background: #333;
  color: #f6f6f6;
  padding: 10px 1em;
  border-top: 5px solid #800000;
}

/* Remove link decorations 
#header a, #nav a, #menu a {
	text-decoration: none;
}*/

/* Header at the top */
#header {
	background-color: #ddd;
	clear: both;
	color: #333;
	font-size: 1.5708em;
	/* top right bottom left*/
	padding: 0.5772em 0em 0.5772em 0em;
}
#headername {
	margin-left: 1em;
	color: #3e750b;
}
#headerquote {
	font-size: 0.75em;
	font-style: italic;
	margin-left: 1em;
}

/* Menu bar (top) */
#menu {
	clear: both; /* Make sure the floating stuff starts below */
	overflow: hidden; /* Make it look nice when the screen width is too small */
	background-color: #333;
	padding: 0.4326em;
	border-top: 1px solid #adb6ad;
	border-bottom: 1px solid #777;
}
#menu a {
	/* Top/bottom padding, then left/right padding */
	padding: 0.16em 1ex;
	color: #94ed40;
}
#menu a:hover {
	/* Invert colors on hover */
	background-color: #94ed40;
	color: #333;
}

/* Div to contain nav bar plus main text */
#content {
	clear: both;
	margin: 0;
	padding: 0;
}

/* Nav bar (left side) */
#nav a:hover {
	background-color: #ddd;
}
#nav {
	float: left;
	padding: 2em 0;
	border-right: 1px dotted #ddd;
	width: 200px;
}
#nav ul {
	margin: 0;
	padding: 0;
}
#nav li {
	list-style: none;
}
#nav li a {
	color: #3e750b;
	display: block;
	margin: 0;
	padding: 1ex 1em 1ex 1em;
}

/* The main text / articles */
#main {
	text-align: justify;
	margin: 0 0 0 200px;
	max-width: 50em;
	padding: 1.5em;
}

/* To hide stuff */
.hidden {
	display: none;
}
