<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title> {0:} | heimersheim.eu </title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="shortcut icon" href="favicon.ico">
</head>
<div id="header">
	<a id="headername" href="/"> Stefan Heimersheim </a>
	<span class="hidden"> - </span>
	<span id="headermirrors"> Links: <a href="https://github.com/Stefan-Heimersheim">GitHub</a> | <a href="https://www.lesswrong.com/users/stefan42">LessWrong</a></span>
</div>
<hr class="hidden"/>
<div id="menu">
{1:}
</div>
<hr class="hidden"/>
<div id="content">
	<div id="nav">
		<ul>
		{2:}
		</ul>
	</div>
<hr class="hidden"/>
<div id="main">
<article>
{3:}
</article>
</div>
</div>
</html>